input[type="file"] {
  display: none;
}
.label-images {
  cursor: pointer;
}

.label-images {
  border: 1px solid #000;
  border-style: dashed;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  border-radius: 4px;
}

.label-images-mini {
  border: 1px solid #000;
  border-style: dashed;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.image-box {
  flex-direction: column;
}

.fill-icon {
  width: 50px;
  height: 50px;
  opacity: 0.3;
}

.image-preview {
  width: 100%;
}

.change-image {
  cursor: pointer;
}
